<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kingpins">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="StuMarket"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Mentorship"></activity>
        <activity android:name=".Repairs" />
        <activity android:name=".Tutor" />
        <activity android:name=".Receipts" />
        <activity android:name=".custompopup" />
        <activity android:name=".furniture" />
        <activity android:name=".office" />
        <activity android:name=".gadgets" />
        <activity android:name=".peripherals" />
        <activity android:name=".stationery" />
        <activity android:name=".books" />
        <activity android:name=".Deposit" />
        <activity android:name=".Balance" />
        <activity android:name=".WishList" />
        <activity android:name=".MarketPlace" />
        <activity android:name=".Profile" />
        <activity android:name=".Dashboard" />
        <activity android:name=".AboutUs" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".Homepage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>